<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/svg/ums.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>UMS</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    style="background-image: url('/assets/img/office.jpg')"
    class="bg-center bg-cover">
    <nav class="bg-[#384996] border-gray-200 py-4">
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto py-6">
        <a
          href="/"
          class="">
          <span
            class="text-3xl whitespace-nowrap font-bold text-white text-center"
            >User Management System</span
          >
        </a>
      </div>
    </nav>

    <div
      class="relative overflow-x-auto shadow-md sm:rounded-lg px-[10rem] pt-20">
      <div class="text-right mb-4">
        <button
          type="button"
          class="text-white bg-[#384996] hover:bg-[#384980] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">
          Add New User
        </button>
      </div>
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-6 py-3">
              S/N
            </th>
            <th
              scope="col"
              class="px-6 py-3">
              Name
            </th>
            <th
              scope="col"
              class="px-6 py-3">
              Email
            </th>
            <th
              scope="col"
              class="px-6 py-3">
              Gender
            </th>
            <th
              scope="col"
              class="px-6 py-3">
              Status
            </th>
            <th
              scope="col"
              class="px-6 py-3">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < data.length; i++) { %> <% %>
          <tr class="bg-white border-b">
            <td class="px-4 py-4"><%= i + 1 %></td>
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              <%= data[i].name %>
            </th>
            <td class="px-6 py-4"><%= data[i].email %></td>
            <td class="px-6 py-4"><%= data[i].gender %></td>
            <td class="px-6 py-4"><%= data[i].status %></td>
            <td>
              <a
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Edit</a
              ><a
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Delete</a
              >
            </td>
          </tr>

          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
